# microchip specific files
**/Debug/ # build fragments
**/.vs/   # user-specific visual studio project settings

# other garbage
.DS_STORE
Thumbs.db
**.tmp
Tilt/.vs/Tilt/v14/.atsuo
Tilt/Lab02_Tilt/Debug/Lab02_Tilt.hex
Tilt/Lab02_Tilt/Debug/Lab02_Tilt.lss
Tilt/Lab02_Tilt/Debug/Lab02_Tilt.map
Tilt/Lab02_Tilt/Debug/Lab02_Tilt.obj
